In [28]:
# IMPORTS
import mysql.connector
import pandas as pd

# Set up MySQL connection
conn = mysql.connector.connect(
    host='cesra-db.cxkuksua06qz.ap-southeast-1.rds.amazonaws.com', 
    port=3309,       
    database='du_rates_comparison',         
    user='cesra_dbm',             
    password='ibIDN0NcnGYo71qDZuHw'      
)

In [29]:
# SQL query to retrieve Short_Name for Jan_23_Ranking values 1 to 5
query_7 = """
SELECT Short_Name
FROM residential_rate
WHERE Jan_23_Ranking BETWEEN 1 AND 5
ORDER BY Jan_23_Ranking ASC;
"""

# Execute query and load the result into a DataFrame
df = pd.read_sql(query_7, conn)
df

C:\Users\aslee\AppData\Local\Temp\ipykernel_29556\1408801388.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_7, conn)

  Short_Name
0       DLPC
1       IEEC
2   LASURECO
3    BISELCO
4       CEDC

In [31]:
# Create a cursor object to interact with the database
cursor = conn.cursor()

cursor.execute(query_7)
result_7 = cursor.fetchall()
result_7[2]

('LASURECO',)